{% extends 'base.html' %}


{% block main %}

    <div class="player-content">
        <h2 class="movie-name"> {{ movie.name }} </h2>
        <div class="video-wrapper">
            <video controls poster="/app/static/images/filmklappe-t.jpg"></video>
        </div>
        <div class="description">
            <span>Описание</span>
            <p> {{ movie.description }} </p>
        </div>
    </div>
    <div id="magnet" style="display:none">{{ movie.link }}</div>
    <script>
        
    </script>
    
{% endblock %}
 

<!-- </body>
</html> -->

