@media screen and (max-width: 1400px) {
    .container {
      width: 940px;
    }
    .header .start {
        font-size: 32px;
        line-height: 32px;
    }
    .header .menu {
        font-size: 16px;
        margin: 0 var(--small-pd-mg__negative);
    }
    .menu-item {
        margin: 0 var(--small-pd-mg);
    }
    input {
        width: 240px;
    }
    video {
        height: 480px;
        width: 854px;
    }
  }
/* @media screen and (max-width: 1400px) {
    .container {
        width: 1020px;
    }
    .header .start {
        font-size: 24px;
        line-height: 24px;
    }
} */

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
/* @media (min-width: 992px) and (max-width: 1199px) {
    container {
        width: 920px;
      }
      .header .start {
          font-size: 24px;
          line-height: 24px;
      } 
} */

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

/* Iphone 5 */
@media (max-width: 320px) {

}