* {
    transition-duration: 100ms;
    color: #fff;
}

.player-content {
    /* width: 100%; */
    background-color: rgb(21 20 26);
    height: 100%;
    padding: var(--standart-pd-mg) var(--large-pd-mg);
}

    /* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: var(--standart-blur)) or (backdrop-filter: var(--standart-blur))) {
    .player-content {
        background-color: rgba(31, 29, 41, 0.5);
        -webkit-backdrop-filter: var(--standart-blur);
        backdrop-filter: var(--standart-blur);
    }
}

.movie-name {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: var(--standart-pd-mg);
}

.description {
    margin: var(--standart-pd-mg) 0;
    font-size: 18px;
}
.description span {
    font-size: 32px;
}

video {
    height: 720px;
    width: 100%;
    background: #000;
}